table td{
  background-color: #e6f3ff;
}
table th{
  background-color: #fbedbe;
  font-weight: normal;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.icon{
  display: inline;
  min-width: 30px;
  text-align: center;  
}
.error{
  background-color: red;
}
.filename{
  display: flex;
}
.info{
  background-color: #e1edd066;
  display: block;
  padding: 10px;
  width: fit-content;
}
.inactive_leg{
  display: inline;
  color:gray;
}